<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.journeywheels">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bike_Home" />
        <activity android:name=".Aprilia" />
        <activity android:name=".Aprilia1" />
        <activity android:name=".Aprilia2" />
        <activity android:name=".Honda_Activa" />
        <activity android:name=".Honda_Activa1" />
        <activity android:name=".Honda_Activa2"></activity>
    </application>

</manifest>